<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página inicial</title>
    <link rel="stylesheet" href="/css/style_home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="icon" type="image/png" sizes="192x192"  href="https://www.bb.com.br/pbb/app/docs/comum/images/structure/header/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.bb.com.br/pbb/app/docs/comum/images/structure/header/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://www.bb.com.br/pbb/app/docs/comum/images/structure/header/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.bb.com.br/pbb/app/docs/comum/images/structure/header/icon/favicon-16x16.png">
</head>
<body>
    <nav class="navbar">
        <a  href="#">
            <img id="logo" src="https://www.bb.com.br/pbb/img.ImgWriter?codigo=40846&origem=CCI&v=201911221" width="30" height="30" class="d-inline-block align-top" alt="logo">
        </a>
        <span class="navbar-text">
            <img id="bb" src="img/bblogo.png" height="40">
          </span>
          <a class="btn btn-danger" href="/logout" role="button">Sair</a>
        </nav>

        <div class="blink"><h1><%= success %> !</h1></div>

        <div id="container">
          <div id="bg">
                Bem 
                Vindo
                <div id=flip>
                  <div><div>Brasil</div></div>
                  <div><div>Do</div></div>
                  <div><div>Banco</div></div>
                </div>
                
              </div>
            </div>

            <div class="layout">
            <div class="rodape">
                <span class="copyright"> &reg; Banco do Brasil</span>
                <span class="rodapeIN">&copy; Henrique Duarte Leite</span>
            </div>
          </div>      
</body>
</html>